# Set content defaults
AddDefaultCharset UTF-8

# Add mime types
AddType image/x-icon .ico
AddType application/javascript .js
AddType application/octet-stream .ttf
AddType application/vnd.ms-fontobject .eot
AddType image/svg+xml .svg

# http://www.w3.org/TR/WOFF/#appendix-b
AddType application/font-woff .woff

# Gzip (except woff, which is already compressed)
<FilesMatch "\\.(js|css|html|otf|eot|ttf|svg)$">
    SetOutputFilter DEFLATE
</FilesMatch>
RemoveOutputFilter DEFLATE woff
